<%= form_for(prez.target) do |f| %>
  <% if prez.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prez.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

      <ul>
      <% prez.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>    
      
    </div>
  <% end %>
       
  <fieldset>    
    <div> 
       <%= f.label :start_location_id %>
       <%= f.text_field :start_location_id %>
    </div>
    <div> 
       <%= f.label :start_location_id %>
       <%= f.text_field :start_location_id %>
    </div>
    <div> 
       <%= f.label :arrival_time %>
       <%= f.text_field :arrival_time %>
    </div>
    <div> 
       <%= f.label :layover_minutes %>
       <%= f.text_field :layover_minutes %>
    </div>

  </fieldset>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
