<p id="notice"><%= notice %></p>

<h1>Listing Cargos</h1>

<table>
  <thead>
    <tr>
      <% @prez.titles.each do |title| %>
        <th><%= title %></th>
      <% end  %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prez.each do |cargo_prez| %>
      <tr>            
        <% cargo_prez.values.each do | value | %>
          <td><%= value %></td>
        <% end %>
        <td><%= link_to 'Show', cargo_prez.target %></td>
        <td><%= link_to 'Edit', edit_cargo_path(cargo_prez.target) %></td>
        <td><%= link_to 'Destroy', cargo_prez.target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cargo', new_cargo_path %>

