<p id="notice"><%= notice %></p>

<h1>Listing Cargos</h1>

<table>
  <thead>
    <tr>
      <% @prez.titles.each do |title| %>
        <th><%= title %></th>
      <% end  %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prez.each do |cargo_prez| %>
      <tr>            
        <% cargo_prez.values.each do | value | %>
          <td><%= value %></td>
        <% end %>
        <td><%= cargo_prez.link_to_show %></td>
        <td><%= cargo_prez.link_to_edit %></td>
        <td><%= cargo_prez.link_to_destroy %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= @prez.link_to_new %>

