<p id="notice"><%= notice %></p>

<h1>Voyages</h1>

<div id="search">
  <%= form_tag voyages_path, method: :get do %>
    <%= text_field_tag( 'q', nil, class: "text", type: 'text', title:"Search", 
                       value: @q,  placeholder: "Homep Port ID"  ) %> 
    <br/>
    <input type="submit" value="Find Home Port", autofocus="true" /> 
  <%- end -%>
</div>


<table>
  <thead>
    <tr>
      <% prez.titles.each do |title| %>
        <th><%= title %></th>
      <% end  %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% prez.each do |voyage_prez| %>
      <tr>            
        <% voyage_prez.values.each do | value | %>
          <td><%= exhibit(value, self) %> </td> 
        <% end %>
        <td><%= voyage_prez.link_to_show %></td>
        <td><%= voyage_prez.link_to_edit %></td>
        <td><%= voyage_prez.link_to_destroy %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= prez.link_to_new %>

