<h1>Voyage</h1>
<p id="notice"><%= notice %></p>

<%= exhibit(prez.target, self) %>
<div> Available: <%= prez.available %>: <%= prez.why_available %></div>
<br/>
<br/>
<%= prez.link_to_edit %> |
<%= prez.link_to_index('Back') %>

<h3> Carrier Movements</h3>  
<% prez.carrier_movements.each do |carrier_movement|   %>  
  <%= exhibit(carrier_movement, self)   %>  <br>
<% end %>
<br>
<%= image_tag "CargoShip", width: '150', height: '100' %>
