<!DOCTYPE html>
<html>
<head>
  <title>DDD Shipping demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div><%= link_to("Home",      root_url) %> | 
     <%= link_to("Cargos",    cargos_url) %> | 
     <%= link_to("Locations", locations_url) %> |
     <%= link_to("Legs",      legs_url) %> |
</div>

<%= yield %>

</body>
</html>
